/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
}
.row {
    margin-right: 0%;
}

.aboutme{
    width:213px;
    height: 186px;
}

.recruit2{
    width:1100px;
    height: 500px;
}