<navbar></navbar>  
<div class="row">
    <div class="col-md-2">   
            <h2>HRMS</h2>
            <h5>Recruity</h5>
            <img class="aboutme" src="assets/recruit2.JPG" alt="">
            <h6>HRMS-Recruity</h6>
            <p>Hiring the best people for the best in class jobs...</p>  
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
    <!-- <div class="col-md-2"></div> -->
</div>
<div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
</div>
  
