<div class="container" style="margin-top:30px">
  <!-- <div class="row">
    <div class="col-sm-12">
      <h2>H R M S - RECRUITY </h2>
      <h5>Recruitment Specialist</h5>
      <div class="fakeimg">
        <img class="recruit2" src="/assets/recruit2.JPG" alt="">
      </div>
      
      <p>Recruitment planning is the first step of the recruitment process, where the vacant positions are analyzed and described. It includes job specifications and its nature, experience, qualifications and skills required for the job, etc.

          A structured recruitment plan is mandatory to attract potential candidates from a pool of candidates. The potential candidates should be qualified, experienced with a capability to take the responsibilities required to achieve the objectives of the organization.</p>
      <br>
      <h2>Process</h2>
      <h5>Sep 2, 2018</h5>
      <div class="fakeimg">
        <img src="/assets/recruit3.JPG" alt="">
      </div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div> -->
</div>

